*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Camood';
    src: url('/Camood.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}